<a href="https://colab.research.google.com/github/ma-mharris/yearupunitedPython/blob/main/05_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 5: Lists

## **Submission Guidelines**
* Focus on completing Exercises 1, 2 and 3. Exercises 4 and 5 are _stretch challenges_.
* Submit your work as a single Python file (__`.py`__) or a Jupyter Notebook (__`.ipynb`__).
* Clearly label each exercise and include comments to explain your logic.

## Instructions

Complete the following exercises in a single Python file or Jupyter Notebook. Clearly label each exercise and include comments explaining your logic. **Do not use loops or built-in aggregate functions in Exercises 4 and 5.** Use only basic variables, list indexing (referring to the first element, second element, etc.), conditionals, and arithmetic operations.

**Remember to start with the English steps, write pseudocode, then write code.**

### Exercise 1: Basic List Operations

1. **Create a List:** Write code to create a list with 5 elements of your choice.
2. **Print the List:** Display the original list.
3. **Modify the List:**
   - Change the second element to a new value.
   - Append a new element to the end of the list.
   - Remove the third element from the list.
4. **Print the Updated List:** Verify your modifications by printing the final list.

In [ ]:
# Exercise 1, Step 1: Create a list with 5 elements

names_countries = ["USA", "Liberai", "Paris", "London", "Uganda"]


# Your code here

print(names_countries)

['USA', 'Liberai', 'Paris', 'London', 'Uganda']

In [ ]:
# Exercise 1, Step 2: Print the original list

# Your code here

print(names_countries)

['USA', 'Liberai', 'Paris', 'London', 'Uganda']

In [ ]:
# Exercise 1, Step 3: Modify the list
# - Change the second element to a new value
# - Append a new element to the end of the list
# - Remove the third element from the list
# Your code here

names_countries = ["USA", "Liberia", "Paris", "London", "Uganda"]

names_countries[1] = "Guinea"
names_countries.append("Kenya")
names_countries.remove("Paris")

print(names_countries)

['USA', 'Guinea', 'London', 'Uganda', 'Kenya']

In [ ]:
# Exercise 1, Step 4: Print the updated list
# Your code here

### Exercise 2: Membership Check

1. **Create a List:** Write code to create a list with 5 colors of your choice.
2. **Membership Check:** Check if the color "blue" is in your list.
   - If it is present, print a message confirming that the list contains "blue".
   - If it is not present, print a message indicating that "blue" is not in the list.

*Note:* You do not need to retrieve the position of the element; simply print a confirmation message.

In [ ]:
# Exercise 2, Step 1: Create a list with 5 colors

# Your code here

top_colors = ["red", "purple", "green", "blue", "orange"]

In [ ]:
# Exercise 2, Step 2: Check for membership of 'blue'

# Your code here
if "blue" in top_colors:
    print("The list contains blue")
else:
    print("The list does not contain blue")

The list contains blue

### Exercise 3: Real-World List Modification (Hard)

Imagine you are managing a set of 5 numbers (for example, representing test scores). Write a program that performs the following tasks (remember: the first element is the first, the second is the second, and so on):

1. **Initialize the List:** Create a list of 5 numbers.
2. **Conditional Adjustment:** Check if the third element is less than 50.
   - If it is, update that element to 50.
3. **Conditional Penalty:** Calculate the sum of the first element and the last element.
   - If this sum is greater than 100, set the last element to 0.
4. **Swap Operation:** Swap the first element with the third element.
5. **Print the Final List:** Display the modified list.

In [ ]:
# Exercise 3, Step 1: Initialize a list of 5 numbers

# Your code here

test_scores = [80, 75, 90, 60, 85]

In [ ]:
# Exercise 3, Step 2: Conditional adjustment - if the third element is less than 50, update it to 50

# Your code here

test_scores = [80, 75, 90, 60, 85]

if test_scores[2] < 50:
    test_scores[2] = 50
print(test_scores)

[80, 75, 90, 60, 85]

In [ ]:
# Exercise 3, Step 3: Conditional penalty - if the sum of the first and last elements is greater than 100, set the last element to 0

# Your code here

if sum(test_scores[:2]) > 100:
    test_scores[-1] = 0
print(test_scores)

[80, 75, 90, 60, 0]

In [ ]:
# Exercise 3, Step 4: Swap the first element with the third element

# Your code here

test_scores = [80, 75, 90, 60, 85]

test_scores[0], test_scores[2] = test_scores[2], test_scores[0]
print(test_scores)

[90, 75, 80, 60, 85]

In [ ]:
# Exercise 3, Step 5: Print the final list

# Your code here

print(test_scores)

[90, 75, 80, 60, 85]

### Exercise 4: Manual Analysis Without Loops or Built-In Functions (Extra Hard)

You are given a list of 10 numbers (for instance, representing grades). Without using loops or built-in functions (such as `sum()`, `len()`, etc.), complete the following tasks by manually accessing each element:

1. **Create a List:** Write code to create a list with 10 numbers.
2. **Compute the Total:** Manually add all the numbers by accessing each element individually.
3. **Calculate the Average:** Divide the total by the number of elements in the list.
4. **Determine the Highest Value:** Use `if` statements to compare the elements and determine the highest value.
5. **Determine the Lowest Value:** Similarly, determine the lowest value among the elements.
6. **Print Your Results:** Display the average, highest, and lowest values.

In [ ]:
# Exercise 4, Step 1: Create a list with 10 numbers

# Your code here

In [ ]:
# Exercise 4, Step 2: Manually compute the total of all numbers

# Your code here

In [ ]:
# Exercise 4, Step 3: Calculate the average of the numbers

# Your code here

In [ ]:
# Exercise 4, Step 4: Determine the highest value using if statements
# Your code here

In [ ]:
# Exercise 4, Step 5: Determine the lowest value using if statements

# Your code here

In [ ]:
# Exercise 4, Step 6: Print the average, highest, and lowest values

# Your code here

### Exercise 5: Vowel Filter Without Loops (Nearly Impossible)

Create a program that filters a list of 7 strings to include only those that start with a vowel. **Do not use loops.** Instead, use individual conditional statements and manual indexing.

1. **Create a List:** Write code to create a list with 7 strings of your choice.
2. **Filter the List:** For each string in the list, check if its first character is a vowel (a, e, i, o, or u).
   - *Hint:* To access the first character of a string, use `string[0]`.
   - For each string that starts with a vowel, add it to a new list manually.
3. **Print the New List:** Display the list of strings that begin with a vowel.

In [ ]:
# Exercise 5, Step 1: Create a list with 7 strings

# Your code here

In [ ]:
# Exercise 5, Step 2: Filter the list to include only strings that start with a vowel

# Your code here

In [ ]:
# Exercise 5, Step 3: Print the new list of strings that start with a vowel

# Your code here